<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>SIGN UP WITH IIT DEHLI KERBORS ID </h1>
        <form action="/create" method="post">
            <input type="text" placeholder="enter your name.." name="user_name">
            <input type="text" placeholder="enter your kerbors_id.." name="kerbors_id">
            <input type="text" placeholder="Create your possword.." name="possword">
            <button type="submit" style="background-color: rgb(220, 47, 47);color: rgb(230, 248, 248);">Sign up</button>
        </form> 
    </div>
    <a href="/viewdata" >view all registered students</a>
    <br>
    <br>
    <br>
    <div>
        <h1> LOGIN USING KERBORS ID</h1>
        <form action="/login" method="post">
            <input type="text" placeholder=" kerbors_id.." name="kerbors_id">
            <input type="text" placeholder=" possword.." name="possword">
            <button type="submit" style="background-color: rgb(220, 47, 47);color: rgb(230, 248, 248);">Login </button>
        </form> 
    </div>

</body>
</html>